Makefile
Makefile.in
Makefile.in.in
*.exe
*.dll
*.mdb
config.guess
config.log
config.status
config.sub
configure
INSTALL
aclocal.m4
autom4te.cache
missing
mkinstalldirs
install-sh


docbrowser/Options.cs
gendarme/gd2i
gsharp/gsharp.desktop
gui-compare/gui-compare
install/
compile
mono-tools.spec